.scrollable-container-proto {
    max-height: calc(100vh - 80px); /* Set the maximum height minus Navbar height */
    overflow-y: visible; /* Enable vertical scrolling */
    padding-top: 110px;  /* Add top margin equal to Navbar height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .plot-image img {
    width: 100%; /* Ensure all images occupy 100% width */
    height: auto; /* Maintain aspect ratio */
    max-width: 1000px; /* Limit maximum width to 500px */
    max-height: 1000px; /* Limit maximum height to 500px */
  }
  